.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 25%;
    margin-bottom: 3.5rem;
}

.pagination button {
    width: 40px;
    height: 40px;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: #1E1E1E;
    border-color: #1E1E1E;
}

.pagination button.active {
    font-weight: 900;
    border-color: #101010;
    background: #1E1E1E;
    color: #FFFFFF;
}
.paginatoin-btn{
    padding: 10px 50px 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    .pagination button {
        margin: 0 5px;
    }
    .paginatoin-btn{
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pagination {

        margin-left: 12%;
    }
    

}