@tailwind base;
@tailwind components;
@tailwind utilities;
/* leave me here */
body {
  background-color: #e7e7e3;
  cursor: default;
  font-family: "Rubik";
}

button:hover {
  opacity: 0.9;
}

.catigories-sec2 .slick-list {
  border-radius: 64px 0px 0px 0px;
}

.catigories-sec2 .slick-vertical .slick-slide {
  border: none;
  height: 31vh;
}

.catigories-sec2 .slick-list {
  top: -4.5rem;
  right: 0.4rem;
}
.review-card-rating2 span {
  color: #f5c518 !important;
}
.crds {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 10px;
}

.crds input {
  padding: 10px;
  margin-bottom: 15px;
  background-color: #e7e7e3;
  border: 1px solid;
  border-radius: 5px;
}

.checked {
  color: #ffa52f;
}

.is-dark {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.register-container .gender-selector input[type="radio"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 0;
  background-color: #e7e7e3;
  cursor: pointer;
}

.register-container .gender-selector input[type="radio"]:checked {
  background-color: #232321;
  border-color: #232321;
}
.suggestion-list .slick-dots li button:before {
  background-color: #4a69e2;
  height: 6px !important;
  width: 40px !important;
  text-indent: -9999px;
  overflow: hidden;
  margin-top: 30px;
  margin-right: 100px !important;
  border-radius: 8px;
}
.suggestion-list .slick-dots li {
  margin-right: 30px;
}

.suggestion-list .slick-list {
  margin-bottom: 80px;
}

.size-num {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
  font-family: "Rubik";
  font-weight: 500;
}
.active-swatch {
  box-shadow: 0 0 0 4px #e7e7e3, 0 0 0 6px #000;
}
.active-swatch-size {
  background-color: #232321 !important;
  color: white;
}



.reverse-btn {
  transform: rotate(180deg);
  position: relative;
  bottom: 2px;
}
/* home page mobile css */
@media only screen and (max-width: 700px) {
  * {
    --maxw: 390px;
  }


  .pdt-carousel .slick-thumb {
    margin: 10px;
    position: absolute;
    right: 20px;
    bottom: 30px;
  }
  .pdt-carousel .slick-thumb li {
    margin: 25px;
  }
  .pdt-carousel .slick-active a img.dot {
    border: solid 2px #fafafa;
  }
  .crds {
    width: 95%;
  }

  .footer-submit-form {
    width: 90%;
  }
  .catigories-sec .cat-list {
    top: -6.8%;
  }
}
